td {
    width: 20mm;
	height: 20mm;
	min-width:20mm;
	text-align: center;
	vertical-align: center;
	border: 1px solid black;
}

td:hover {background-color: #00f5}

/* from example https://www.w3schools.com/howto/howto_css_modals.asp*/

.modal {
    display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}
